
#course-landing-content{
	width: 100%;
	padding: 0;
}

#studentTable , #studentTable td, #studentTable th{
	border: thin solid black;
	text-align: center;
	vertical-align: middle;
}
#studentTable td p {
	font-size: x-large;
}

.emptyCell, .cell, .taskHeader, .rowHeader {
	background-color: white;
}

.emptyCell, .cell, .taskHeader {
	overflow: hidden; 
	vertical-align: middle; 
	text-align: center;
}

#buttons {
	padding: 25px;
}

#studentTable {
	position: relative;
	margin: 0;
	white-space: normal;
	line-height: normal;
	font-weight: normal;
	font-size: medium;
	font-variant: normal;
	font-style: normal;
	color: -webkit-text;
	display: table;
	border-spacing: 2px;
	border-collapse: collapse;
	padding: 0;
}

#students{
	display: block;
}