
#course-landing-content{
	width: 100%;
}

#studentTable , #studentTable td, #studentTable th{
	border: thin solid black;
}
.emptyCell, .cell, .taskHeader, .rowHeader {
	background-color: white;
}

.emptyCell, .cell, .taskHeader {
	overflow: hidden; 
	vertical-align: middle; 
	text-align: center;
}

#students {
	overflow: scroll; 
}